<ng-container *ngIf="products && products.length > 0; else noProduct">
  <p class="pull-right text-muted">{{products.length}} produit(s)</p>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Nom du produit</th>
      <th scope="col">Prix</th>
      <th scope="col">Stock</th>
      <th scope="col">Avis des internautes</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products">
      <td class="col-xs-3"><a [routerLink]="['/catalog/product', product.id]">{{product.title}}</a></td>
      <td class="col-xs-2">
        <ng-container *ngIf="product.priceWithoutPromotion">
          <del>{{product.price | currency:'EUR'}}</del><br/>
        </ng-container>
        {{product.price | currency:'EUR'}}
      </td>
      <td class="col-xs-2">{{product.stock}}</td>
      <td class="col-xs-3"><mp-rating [rating]="product.rating"></mp-rating>({{product.review}})</td>
      <td class="col-xs-2">
        <a href="javascript:void(0)" (click)="addProduct(product)"  *ngIf="product.stock > 0">
          <i class="glyphicon glyphicon-shopping-cart"></i> Ajouter au panier
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</ng-container>
<ng-template #noProduct>
  <h3>Aucun produit dans cette catégorie</h3>
</ng-template>
