<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img src="../../../assets/images/angular.png">
        </a>
      </div>

      <div class="collapse navbar-collapse" [collapse]="isCollapsed">
        <ul class="nav navbar-nav main-menu">

          <ng-container *ngFor="let item of menuItems">

            <li *ngIf="!item.hasSubItems()">
              <a [routerLink]="item.url" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                {{item.label}}
              </a>
            </li>

            <li *ngIf="item.hasSubItems()" dropdown>

              <a dropdownToggle href="javascript:void(0)">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" *dropdownMenu>
                <li *ngFor="let subItem of item.subItems">
                  <a [routerLink]="subItem.url" routerLinkActive="active"
                     [routerLinkActiveOptions]="{ exact: true }">{{subItem.label}}</a>
                </li>
              </ul>

            </li>

          </ng-container>

        </ul>

        <ul class="nav navbar-nav  pull-right">
          <li>
            <mp-cart-header-entry></mp-cart-header-entry>
          </li>
          <li *mpIsLogged="true">
            <a routerLink="/account/infos" routerLinkActive="active">
              <i class="glyphicon glyphicon-user"></i>
            </a>
          </li>
          <li *mpIsLogged="true">
            <a routerLink="/account/logout" routerLinkActive="active">
              <i class="glyphicon glyphicon-log-out"></i>
            </a>
          </li>
          <li *mpIsLogged="false">
            <a routerLink="/login" routerLinkActive="active">
              <i class="glyphicon glyphicon-log-in"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
