<div class="form-group">
  <label *ngIf="label" for="{{fieldId}}">{{label}}</label>
  <ng-content></ng-content>
  <ng-container *ngIf="this.field.getNgModel().touched && this.field.getNgModel().invalid">
    <ul class="alert alert-danger">
      <li *ngFor="let error of errors">{{error.message}}</li>
    </ul>
  </ng-container>
</div>
