<form [formGroup]="changePasswordForm" (submit)="change()">
  <p class="alert alert-success" *ngIf="displaySuccess">
    Mot de passe modifié.
  </p>
  <mp-form-field-reactive label="Mot de passe actuel">
    <input mpFieldReactive type="password" formControlName="current">
  </mp-form-field-reactive>
  <mp-form-field-reactive label="Mot de passe actuel">
    <input mpFieldReactive type="password" formControlName="change">
  </mp-form-field-reactive>
  <mp-form-field-reactive label="Mot de passe actuel">
    <input mpFieldReactive type="password" formControlName="confirm">
  </mp-form-field-reactive>
  <hr/>
  <input type="submit" class="btn btn-primary" value="Changer" [disabled]="changePasswordForm.invalid">
</form>
