<div class="row">
  <div class="col-sm-12">
    <a routerLink="/catalog" class="pull-right">Retour au catalogue</a>
  </div>
</div>
<hr>
<div class="row" *ngIf="product">
  <div class="col-sm-12">
    <div class="media">
      <div class="media-left">
        <img [src]="'../../assets/images/' + product.image">
      </div>
      <div class="media-body">
        <h2 class="media-heading">
          {{product.title | titlecase}}
          <span class="pull-right"><mp-rating [rating]="product.rating"></mp-rating></span>
        </h2>
        <h3><strong>{{product.price | currency:'EUR'}}</strong></h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tempus imperdiet mi nec fermentum.
          Nunc sed mauris vitae neque efficitur luctus sed eu ex. In maximus odio elit, quis bibendum est gravida nec.
          Mauris vehicula nec lorem ac porttitor. Etiam odio risus, pretium eu enim nec, mollis egestas purus.
          Nullam pretium luctus venenatis. Nulla molestie sem vel diam scelerisque posuere. Sed turpis nunc, ornare non dictum ac, volutpat et mi.
          Aliquam dictum volutpat nisl at tempor. Nam efficitur ullamcorper arcu id scelerisque. Vestibulum efficitur pretium arcu, ac efficitur neque.
          Pellentesque eget eros ultricies, aliquet dui sed, aliquam justo. Duis dignissim neque a rutrum consectetur. Proin commodo tempor volutpat.
        </p>
        <mp-counter [(count)]="quantity"></mp-counter>
        <a class="btn btn-primary" (click)="addProduct()"><i class="glyphicon glyphicon-shopping-cart"></i> Ajouter au panier</a>
      </div>
    </div>
  </div>
</div>


<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Zoom</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img [src]="'../../assets/images/' + product.image" width="100%" height="100%">
  </div>
</ng-template>
