<div class="content">
  <h3>Le produit {{cartProduct?.product.title}} a été ajouté, voir le panier ?</h3>
  <div class="row actions">
    <div class="col-sm-6">
      <a class="btn btn-primary" (click)="goToCart()">Oui</a>
    </div>
    <div class="col-sm-6">
      <a class="btn btn-danger" [routerLink]="['', { outlets: { popup: null }}]">Non</a>
    </div>
  </div>
</div>
