<h1>Mon panier <small>({{productCount}}) produits</small></h1>
<hr>
<ng-container *ngIf="cartProducts.length > 0; then ProductList else NoProduct"></ng-container>
<ng-template #ProductList>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Produit</th>
        <th>Quantité</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cartProduct of cartProducts">
        <th [routerLink]="['/catalog/product', cartProduct.product.id]">{{cartProduct.product.title}}</th>
        <th><mp-counter [count]="cartProduct.count" (countChange)="updateProductQuantity($event, cartProduct)"></mp-counter></th>
        <th>{{cartProduct.count * cartProduct.product.price | currency:'EUR'}}</th>
        <td><a class="btn btn-danger" (click)="removeProduct(cartProduct)"><i class="glyphicon glyphicon-remove"></i></a></td>
      </tr>
    </tbody>
    <tfoot>
    <tr>
      <th>Total:</th>
      <th></th>
      <th>{{total | currency:'EUR'}}</th>
      <th></th>
    </tr>
    </tfoot>
  </table>
</ng-template>
<ng-template #NoProduct>
  Votre panier est vide
</ng-template>
