<form #loginForm="ngForm">

  <p class="alert alert-danger" *ngIf="authError">
    e-mail et ou mot de passe incorrect.
  </p>
  <mp-form-field label="Adresse e-mail">
    <input mpFieldHolder type="email" name="email" placeholder="Enter email"
           [(ngModel)]="credentials.email" required email>
  </mp-form-field>
  <mp-form-field label="Mot de passe">
    <input mpFieldHolder type="password" name="password" placeholder="Password"
           [(ngModel)]="credentials.password" required>
  </mp-form-field>
  <button type="submit" class="btn btn-primary" (click)="authenticate()" [disabled]="loginForm.invalid">
    Se connecter
  </button>
  <hr/>
  <p class="pull-right">
    <i class="glyphicon glyphicon-info-sign"></i>
    Connection avec: <strong>j.doe@nowhere.com / test</strong>
  </p>
</form>
