mp-add-cart-confirm {
  display: block;
  position: absolute;
  z-index: 10000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.4);
  .content {
    background: white;
    margin: 20% auto;
    width: 40%;
    padding: 25px;
    border: 1px solid #999;
    text-align: center;
  }
  .actions {
    margin: 30px auto;
    max-width: 250px;
  }
}
