<footer>
  <ul class="nav nav-pills">
    <li><a href="https://gitlab.groupeonepoint.com" target="_blank">Starter kit repository</a></li>
    <li><a href="https://angular.io/docs/ts/latest/" target="_blank">Angular API Doc</a></li>
  </ul>
</footer>