<h1>
  Catalogue
  <a class="pull-right btn btn-danger" (click)="simulateDecreaseStock()">Simuler baisse du stock</a>
</h1>

<hr/>
<mp-tabs *ngIf="products">
  <mp-tab>
    <span *mpTabTitle>Populaires <i class="glyphicon glyphicon-star"></i></span>
    <div class="row">
      <div class="form-inline pull-right">
        <label>Filtrer par prix</label>
        <select (change)="minPrice = $event.currentTarget.value" class="form-control">
          <option value="0">Tous</option>
          <option value="1000"> à partir de 1000 €</option>
          <option value="2000"> à partir de 2000 €</option>
        </select>
      </div>
    </div>
    <hr/>
    <mp-product-list [products]="bestSells | greaterThanFilter:'price':minPrice"></mp-product-list>
  </mp-tab>
  <mp-tab>
    <span *mpTabTitle>Promotions <i class="glyphicon glyphicon-euro"></i></span>
    <h2>Attentions ! Stocks limités</h2>
    <mp-product-list-table [products]="promotions"></mp-product-list-table>
  </mp-tab>
  <ng-container *ngFor="let category of categories">
    <mp-tab>
      <span *mpTabTitle>{{category.title}}</span>
      <h2>{{category.subtitle}}</h2>
      <mp-product-list-table [products]="productCategories[category.name]"></mp-product-list-table>
    </mp-tab>
  </ng-container>
  <mp-tab>
    <span *mpTabTitle>Tous nos produits</span>
    <h2>Découvrez notre catalogue complet !</h2>
    <mp-product-list-table [products]="products"></mp-product-list-table>
  </mp-tab>
  <mp-tab>
    <span *mpTabTitle>Rupture de stock</span>
    <h2>Produits bientôt disponibles</h2>
    <mp-product-list-table [products]="getNoStock()"></mp-product-list-table>
  </mp-tab>
</mp-tabs>
