<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Référence</th>
    <th scope="col">Date</th>
    <th scope="col">Montant</th>
    <th scope="col">Statut</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of orders">
    <th scope="row">{{order.ref}}</th>
    <td>{{order.date | date}}</td>
    <td>{{order.price | currency:'EUR'}}</td>
    <td>{{order.status}}</td>
  </tr>
  </tbody>
</table>
