footer {
  position: fixed;
  @include gradient-vertical($start-color: lighten($navbar-default-bg, 10%), $end-color: $navbar-default-bg);
  border-top: 1px solid $gray-lighter;
  bottom: 0;
  width: 100%;
  text-align: center;
  ul.nav {
    display: inline-block;
  }
}
