mp-header {
  header {
    .navbar-brand {
      padding: 6px 15px;
      img {
        max-height: 40px;
      }
    }
    .navbar-default {
      .navbar-nav {
        li {
          a.active, a:focus, a:active {
            background-color: $gray-lighter;
          }
        }
      }
    }

    mp-cart-header-entry {
      position: relative;
      display: inline-block;
      padding: 10px 15px;
      line-height: 20px;
      cursor: pointer;

      a {
        line-height: 26px;
        display: inline-block;
      }
    }
  }
}
