<h1>Créer un compte</h1>

<form [formGroup]="accountCreateForm" (ngSubmit)="save()">
  <pre>{{debug}}</pre>
  <mp-form-field-reactive label="Civilité">
    <div>
      <label class="radio-inline" *ngFor="let gender of genderList">
        <input mpFieldReactive type="radio" formControlName="gender" [value]="gender"> {{gender}}
      </label>
    </div>
  </mp-form-field-reactive>
  <mp-form-field-reactive label="Prénom">
    <input mpFieldReactive formControlName="firstName">
  </mp-form-field-reactive>
  <mp-form-field-reactive label="Nom">
    <input mpFieldReactive formControlName="lastName">
  </mp-form-field-reactive>
  <mp-form-field-reactive label="Email">
    <input mpFieldReactive formControlName="email">
  </mp-form-field-reactive>

  <fieldset>
    <legend>Adresse de facturation</legend>
    <mp-address-group [group]="accountCreateForm.get('addressInvoice')"></mp-address-group>
  </fieldset>

  <ng-container formArrayName="addressesDelivery">
    <h2>Adresses de livraison</h2>
    <div>
      <fieldset *ngFor="let addressDelivery of getAddressDeliveryArray().controls;let addressNumber = index">
        <legend>Adresses de livraison {{addressNumber + 1}}</legend>
        <mp-address-group [group]="addressDelivery"
                          [isAddressDelivery]="true"
                          (defaultAddressChange)="setDefaultDeliveryAddress(addressNumber, $event)">
        </mp-address-group>
        <a class="pull-right btn btn-danger" (click)="removeDeliveryAddress(addressNumber)">Supprimer</a>
      </fieldset>
      <hr/>
    </div>
  </ng-container>

  <div class="row">
    <div class="col-sm-12">
      <button (click)="addDeliveryAddress()" class="pull-right btn btn-success"
         [disabled]="accountCreateForm.get('addressesDelivery').invalid">
        <i class="glyphicon glyphicon-plus"></i>Ajouter une adresse
      </button>
    </div>
  </div>

  <hr/>

  <input type="submit" class="btn btn-primary" [disabled]="accountCreateForm.invalid">
</form>
