<ng-container [formGroup]="group">
    <mp-form-field-reactive label="Rue">
    <input mpFieldReactive formControlName="street">
  </mp-form-field-reactive>
  <mp-form-field-reactive label="Code postal">
    <input mpFieldReactive formControlName="zipCode">
  </mp-form-field-reactive>
  <mp-form-field-reactive label="Ville">
    <input mpFieldReactive formControlName="city">
  </mp-form-field-reactive>
  <mp-form-field-reactive label="Pays">
    <select mpFieldReactive formControlName="country">
      <option *ngFor="let country of countryList" [value]="country.code">{{country.label}}</option>
    </select>
  </mp-form-field-reactive>
  <label class="checkbox-inline" *ngIf="isAddressDelivery">
    <input type="checkbox" formControlName="isDefault" [value]="true"
           (click)="onDefaultAddressChange($event.target.value)">
    Adresse par défaut ?
  </label>
</ng-container>
