<h1>Mon compte</h1>

<ul class="nav nav-tabs">
  <li routerLinkActive="active"><a routerLink="/account/infos">Mes informations</a></li>
  <li routerLinkActive="active"><a routerLink="/account/orders">Mes commandes</a></li>
  <li routerLinkActive="active"><a routerLink="/account/password">Changer mot de passe</a></li>
</ul>
<router-outlet></router-outlet>
